.home-page {
    height: 100vh;
    overflow: scroll;
}
.home-page-left {
    height: 100%;
    overflow: scroll;
}
.home-page-right {
    height: 100%;
    overflow: scroll
}
.date-picker-col:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}