.p-accounting {
  height: 100vh;
  overflow: scroll;
}
.full-width-bottom-footer {
  width: calc(100% - 70px);
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  bottom: 0;
  left: 70px;
  right: 0;
  z-index: 15;
  padding: 10px 20px;
  transition: all 0.2s ease 0s;
}
