html, body, #root {
    height: 100%;
    margin: 0;
}
.mercury-layout {
    height: 100vh;
}
.mercury-sider {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.mercury-content {
    height: 100%;
    overflow: scroll;
    padding: 16px;
    
}
.ant-layout-sider-children{
    display: flex;
    justify-content: center;
    align-items: center;

}
.mt16 {
    margin-top: 16px;
}
.mt8 {
    margin-top: 8px;
}
.mb8 {
    margin-bottom: 8px;
}

.overflow-scroll {
    overflow: scroll;
}

.no-margin {
    margin: 0 !important;
    margin-inline-end: 0 !important;
}