.p-accounting {
    height: 100%;
    min-height: 100vh;
    padding: 10px;

    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table-footer {
        position: fixed;
        bottom: 0;
        width: calc(100% - 80px);
        left: 80px;
        background: white;
        padding: 16px;
        opacity: 0.9;
    }
}